
<!-- Header Start -->

<header>
  <nav class="navbar navbar-expand-lg  navbar-dark shadow-sm px-5 py-3 py-lg-0">
    <a href="#home" class="navbar-brand p-0">
        <h5 class="m-0 text-uppercase text-dark"><img src="https://www.manojshrees.dev/movies/prrfectpallogo.png" style=" width: 50px; height: 57px; margin: 10px;" alt="">Purrfect Pal Studio</h5>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <div class="navbar-nav ms-auto py-0 pe-4  border-5 border-primary">
            <a href="#home" class="nav-item nav-link ">Home</a>
            <a href="#home" class="nav-item nav-link ">About Us</a>
            <a href="#home" class="nav-item nav-link ">Tutorials</a>
            <a href="#about" class="btn btn-dark">SHOP NOW</a>
        </div>
        
    </div>
</nav>
</header>
<!-- Header End -->


<!--Hero Section Start-->
<section>
<div class="hero-container">
  <div class="hero-content">
    <div class="hero-image">
      <img src="assets/images/Pet.png" alt="Purrfect Pal Studio" />
    </div>
    <div class="hero-text">
      <h1>WELCOME TO</h1>
      <h2>PURRFECT PAL STUDIO</h2>
      <p>Where Art Meets Heart - Bringing Your Pets To Life Through Art</p>
      <button class="cta-button">ORDER YOURS NOW!</button>
    </div>
  </div>
</div>
</section>
<!---Hero Section End-->


<!--How it works Section Start-->
<section>
<div class="how-it-works-image-div">
  <img src="assets/images/how_it_works.png" alt="image" id="how-it-works-image" loading="lazy" >
</div>
</section>
<!--How it works Section End-->


<!--Video Guide Section Start-->
<section>
  <div class="video-guide-container">
    <h1> A Video Guide</h1>
<iframe id="iframe-video"  src="https://www.youtube.com/embed/Fqfjz3NKz50" title="5 Dog Photography Tips with The Dogist" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
<button class="cta-button">Try Now !</button>
</div>
</section>
<!--Video Guide Section End-->

<!--Testimonial Section Start-->
<div class="testimonial-container">
<h1>Testimonials</h1>
</div>
<!--Testimonial Section End-->


<!--About Us Start-->
<section>
  <div class="about-us-container">
    <h1>About us</h1>
    <img src="assets/images/pet2.jpeg" alt="pet picture" class="about-us-image">
    <p class="about-us-content">Our work combines the latest in digital art techniques with a deep love and respect for animals. Every piece is carefully crafted to not only showcase the physical characteristics of each animal but to also convey the emotion and energy that makes them so special. From realistic portraits to stylized interpretations, our artwork resonates with animal lovers, pet owners, and wildlife enthusiasts alike. </p>
  <button class="cta-button"> Order now</button>
  </div>
</section>
<!--About Us End-->


<!-- Footer Start -->
<footer>
  <div class="row">
      <div class="col logoandname">
          <h5 class="m-0 text-uppercase text-dark"><img src="https://www.manojshrees.dev/movies/prrfectpallogo.png" style=" width: 50px; height: 57px; margin: 10px;" alt="">Purrfect Pal Studio</h5>
          <h5 class="m-0 text-uppercase text-dark"> Where Art Meets Heart – Bringing Your Pets to Life Through Art</h5>
      </div>
      <div class="col footer-container">
      
          <div class="d-flex flex-column links">
            <a class="text-dark mb-2">Home</a>
            <a class="text-dark mb-2"> About Us </a>
             <a class="text-dark mb-2">Tutorials </a>
             <a class="text-dark mb-2">Testimonials </a>
              <a class="text-dark mb-2" >Privacy Policy</a>
              <a class="text-dark mb-2" >FAQs</a>

          </div>
      </div>
      <div class="social col-lg-2 col-md-6">
          <h4 class="socialtitle text-dark">Connect with us</h4>
          <div class="d-flex flex-row justify-content-start">
              <a class="text-dark" href="#"><i class="fa fa-instagram"></i></a>
              <a class="text-dark " href="#"><i class="fa fa-facebook"></i></a>
              <a class="text-dark " href="#"><i class="fa fa-envelope"></i></a>
              <a class="text-dark " href="#"><i class="fa fa-whatsapp"></i></a>
          </div>
      </div>
  </div>
</footer>

<!-- Footer End -->